body{
  font-family: 'Montserrat';
}
#title{
  background-color: #ff4c68;
}

h1{
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 3.5rem;
  color: white;
}

.container-fluid{
  padding: 3% 15%;
}
.TitleImg{
  margin-top: 2.5rem;
  width: 60%;
  transform: rotate(25deg);
}
/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem 0;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
/* Section-Features */
#features{
background-color: #fff;
padding: 7% 15%;
z-index: 1;
}
h3{
  font-size:1.5rem;
  font-family: 'Montserrat-bold';
  text-align: center;
}
p{
  color: #8f8f8f;
  width: 60%;
  text-align: center;
  margin: 0.7rem auto;
}
.colFeatures{
  padding: 5% ;
  text-align: center;
}
.fa-check-circle{
  color: #ef8172;
  margin: 1rem auto;
}
.fa-check-circle:hover{
  color: #ff4c68;
  margin: 1rem auto;
}
.fa-bullseye{
  color: #ef8172;
  margin: 1rem auto;
}
.fa-bullseye:hover{
  color: #ff4c68;
  margin: 1rem auto;
}
.fa-heart{
  color: #ef8172;
  margin:1rem auto;
}
.fa-heart:hover{
  color: #ff4c68;
  margin: 1rem auto;
}

/* Testimonial Section */
#testimonials-carousel{
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
h2{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom:3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px 20px;
}
/* Pricing-Cards */
#pricing{
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}
.card-header{
  font-family: 'Montserrat';
  background-color: #ff4c68;
}
